<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Price Tracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static "css/helper.css" %}">
</head>

<body class="jumbotron">

  <div class="container text-center">
    <h2><u>Amazon Product Tracker</u></h2>
    <small class="text-center mt-3 form-text text-muted">Enter your product's URL and we'll notify you anytime that item is available at target-price.</small>
    <!-- <h6 class="text-center text-small">Enter your product's URL and we'll notify you anytime that item is available at target-price.</h6> -->

    <div class="jumbotron mx-auto text-center">
      <form method="post" class="text-justify" autocomplete="off">
        <h4>Enter product details :</h4><hr>

        <div class="form-group" autocomplete="off">
          {% csrf_token %}
          <label>Enter Product Name :</label><br>
          {{ form.product_name }}<br><br>

          <label>Product's Amazon Link :</label><br>
          {{ form.product_url }}<br><br>

          <label>Enter Target Price :</label><br>
          {{ form.target_price }}<br><br>

          <label>Enter Your Email :</label><br>
          {{ form.your_email }}<br>
          <small class="form-text text-muted">
            <i class="fa fa-lock" style="color:#007BFF;"></i>
              We do not share your email with anyone else.
          </small>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"><br>
      </form><hr>

      <div class="text-left">
        {% for m in messages %}
          <h4>{{ m }}</h4>
        {% endfor %}
      </div>

    </div>
  </div>

  </body>
</html>
