<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Saved</title>
  </head>

  <body>

    
    <div class="jumbotron text-center m-5">
      <h2>Your Product is Saved !</h2>
      <br><br>
      <h5>You will be notified when your triggered price is reached.</h5>
      <br><br>
      <a href="{% url 'basic_app:index' %}" class="btn btn-outline-primary btn-lg">Set Another...</a>
    </div>

  </body>
</html>
